{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table data table-hover">
            <thead class="thead-light">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>$ {{ row["price"] }}</td>
                    <td>{{ row["time"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Cash</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ balance }}</td>
                </tr>
            </tfoot>
    </table>
<p class="small text-center text-muted">Negative Values For Shares Indicate sale of Shares.</p>
{% endblock %}
